@{
    ViewData["Title"] = "Home Tft";
}
<head>
  <style>
      body{
          background-color:lightgray;
      }
      h1{
          text-align:center;
          
      }
     p{
         text-align:center;
     }

  </style>
</head>
<body>
<div >
    <h1>Welcome to our TFT web tool</h1>
    <p>
        Create your desired TFT team using our modern team planner and let us review how good your comp actually is!
    </p>
</div>
</body>
